@import url('https://fonts.googleapis.com/css2?family=Noto+Serif+Tamil:wght@100;200;300;400;500;600;700;800;900&display=swap');

* {
	margin: 0;
	font-family: 'Noto Serif Tamil', serif;
	color: #373435;
}

ul {
	padding: 0;
}

button {
	background-color: #373435;
	color: white;
	cursor: pointer;
	border-radius: 5px;
}

button:hover {
	opacity: 0.8;
}

input:focus {
	outline-color: #bf9b58;
}
